<div id="search-component">
  <h4>
    Hero Search
  </h4>

  <!--
    https://angular.io/guide/template-syntax#ref-vars
    Template reference variables ( #var )
    A template reference variable is often a reference to a DOM element within a template. 
    It can also be a reference to an Angular component or directive or a web component.
    Use the hash symbol (#) to declare a reference variable
  -->
  <input #searchBox id="search-box" (keyup)="search(searchBox.value)"/>

  <ul class="search-result">

    <!--  
      Look closely and you'll see that the *ngFor iterates over a list called heroes$, not heroes.
      The $ is a convention that indicates heroes$ is an Observable, not an array.
      The *ngFor can't do anything with an Observable. 
      But there's also a pipe character (|) followed by async, which identifies Angular's AsyncPipe.
      The AsyncPipe subscribes to an Observable automatically so you won't have to do so in the component class.
    -->
    <li *ngFor="let hero of heroes$ | async">
      {{hero.name}}
    </li>
  </ul>
</div>